@-webkit-keyframes fadeIn {
	from	{ opacity:0; }
	to		{ opacity:1; }
}
@-moz-keyframes fadeIn {
	from	{ opacity:0; }
	to		{ opacity:1; }
}
@keyframes fadeIn {
	from	{ opacity:0; }
	to		{ opacity:1; }
}

section.active {
	-webkit-animation:fadeIn .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-animation:fadeIn .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	animation:fadeIn .5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
